[submodule "pybind11"]
	path = external/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "external/Eigen"]
	path = external/Eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "external/Catch2"]
	path = external/Catch2
	url = https://github.com/catchorg/Catch2.git
	branch = v2.x
